@import '../../../../utils/colors';

.file {
  margin: 10px 0;
  border-bottom: solid 1px @font-color;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #dcdcdc;
  }

  &__img {
    justify-self: center;
  }

  &__date {
    grid-column-start: 5;
    justify-self: center;
  }

  &__size {
    grid-column-start: 6;
    justify-self: center;
    margin-right: 20px;
  }

  &__btn {
    display: none;
    padding: 5px;
    margin-left: 5px;
  }

  &:hover &__btn {
    background-color: @font-color;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  &:hover &__date,
  &:hover &__size {
    display: none;
  }

  &:hover &__download {
    grid-column-start: 5;
    display: block;
  }

  &:hover &__delete {
    grid-column-start: 6;
    display: block;
  }
}

.file-plate {
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    height: 80px;
    width: 80px;
  }

  &__btn {
    background-color: @font-color;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 10px;
    margin-left: 5px;
    border: 0;
  }

  &__btns {
    display: none;
  }

  &:hover &__btns {
    display: flex;
  }
}

.folder-plate__img {
  cursor: pointer;
}
